<!DOCTYPE html>
<html lang="en">
  <!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cure Cart</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Molla - Bootstrap eCommerce Template" />
    <meta name="author" content="p-themes" />
 
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userCss/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/userCss/css/plugins/owl-carousel/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="/userCss/css/plugins/magnific-popup/magnific-popup.css"
    />
    <link rel="stylesheet" href="/userCss/css/plugins/jquery.countdown.css" />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userCss/css/style.css" />
    <link rel="stylesheet" href="/userCss/css/skins/skin-demo-4.css" />
    <link rel="stylesheet" href="/userCss/css/demos/demo-4.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>

  <body>
    <style>
/* Default styles for the image */
.responsive-image {
  width: 250px; /* Set the initial width */
  height: auto;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .responsive-image {
    width: 150px; /* Adjust as needed */
  }
}

/* Media query for even smaller screens */
@media only screen and (max-width: 480px) {
  .responsive-image {
    width: 100px; /* Adjust as needed */
  }
}


    </style>
    <div class="page-wrapper">
      <header class="header header-intro-clearance header-4">
        <div class="header-top">
          <div class="container" style="display: flex; height: 45px">
            <div class="header-left">
              <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
            </div>
            <!-- End .header-left -->

              <div class="header-right">
                <ul class="top-menu">
                  <li>
                    <a href="#">Links</a>
                    <ul>
                      <li>
                        <div class="header">
                          <a href="#"></a>
                          <div class="header-menu"></div>
                          <!-- End .header-menu -->
                        </div>
                      </li>
                      <li>
                        <div class="header">
                          <div class="header-menu"></div>
                          <!-- End .header-menu -->
                        </div>
                      </li>
                      <% if (user) { %>

                      <a href="/logout">
                        <!-- <li><a href="#signin-modal" data-toggle="modal" style="font-weight: bold;font-size: 20px;">Sign in </a></li> -->
                        <button
                          style="
                            background-color: #ff3636;
                            color: #ffffff;
                            padding: 6px 29px;
                            border: none;
                            border-radius: 5px;
                            font-size: 17px;
                            cursor: pointer;
                            font-weight: bolder;
                          "
                        >
                          logout
                        </button>
                      </a>

                      <% } else { %>

                      <a href="/signIn">
                        <!-- <li><a href="#signin-modal" data-toggle="modal" style="font-weight: bold;font-size: 20px;">Sign in </a></li> -->
                        <button
                          style="
                            background-color: #3964ff;
                            color: #ffffff;
                            padding: 6px 29px;
                            border: none;
                            border-radius: 5px;
                            font-size: 17px;
                            cursor: pointer;
                            font-weight: bolder;
                          "
                        >
                          login
                        </button>
                      </a>

                      <% } %>
                    </ul>
                  </li>
                </ul>
                <!-- End .top-menu -->
              </div>
            <!-- End .header-right -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-top -->

        <div class="header-middle">
          <div class="container " style="height: 75px">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>
              <a href="/" class="logo">
                <img
                  src="/userCss/images/demos/demo-4/logocurehealth.png"
                  alt="Molla Logo"
                  class="responsive-image"
                />
              </a>
              
            </div>
            <!-- End .header-left -->

            <div class="header-center" >
              <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                <form action="/shop" method="post">
                    <div class="header-search-wrapper search-wrapper-wide">
                        <label for="q" class="sr-only">Search</label>
                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        <input type="search" class="form-control" name="search" id="q" placeholder="Search product ..." required />
                    </div><!-- End .header-search-wrapper -->
                </form>
            </div>
              <!-- End .header-search -->
            </div>

            <div class="header-right">
              <% if (user) { %>
              <div class="dropdown compare-dropdown">
                <a
                  href="/profile"
                  class="dropdown-toggle"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                  title="Compare Products"
                  aria-label="Compare Products"
                >
                  <div class="icon">
                    <i class="icon-user"></i>
                  </div>
                  <p>Profile</p>
                </a>
                <% } %>
              </div>
              <!-- End .compare-dropdown -->

              <% if (user) { %>
              <div class="wishlist">
                <a href="/wishList" title="Wishlist">
                  <div class="icon">
                    <i class="icon-heart-o"></i>
                    <% if (userWishlistNumber===null) { %>
                    <span class="wishlist-count badge">0</span>
                    <% } else { %>
                        <span class="wishlist-count badge"><%= userWishlistNumber.products.length %></span>

                  </div>
                  <p>Wishlist</p>
                </a>
              </div>
              <!-- End .compare-dropdown -->
              <% } %>

              <% } else { %>
                <div class="wishlist">
                    <a href="#" id="noWishlist" title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge">0</span>
                        </div>
                        <p id="c">Wishlist</p>
                    </a>
                    <% } %>           

                </div>

                <% if (user) { %>
                    <div class="dropdown cart-dropdown">
                       <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                           <div class="icon">
                               <i class="icon-shopping-cart"></i>
                               <% if (userCartNumber===null) { %>
               
                               <span class="cart-count">0</span>
               
                                   <% } else { %>
                                     <span class="cart-count"><%= userCartNumber.cartItems.length %></span>
               
                                
                               <% } %>
                                
               
                           </div>
                           <p>Cart</p>
                       </a>
                      
                   </div><!-- End .cart-dropdown -->
                    <% } else { %>
                          <div class="dropdown cart-dropdown">
                       <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                           <div class="icon">
                               <i class="icon-shopping-cart"></i>
                           <span class="cart-count">0</span>
               
                           </div>
                           <p>Cart</p>
                       </a>
                       <% } %>

                   </div><!-- End .cart-dropdown -->
              <!-- End .cart-dropdown -->
            </div>
            <!-- End .header-right -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-middle -->

        <div class="header-bottom sticky-header">
          <div class="container">
            <div class="header-left">
              <div
                class="dropdown category-dropdown"
                style="background-color: white"
              ></div>
              <!-- End .category-dropdown -->
            </div>
            <!-- End .header-left -->

            <div class="header-center" style="justify-content: center;">
              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container ">
                    <a href="/" class="sf-with-ul">Home</a>
                  </li>
                  <li>
                    <a href="/shop" class="sf-with-ul">Shop</a>
                  </li>
                  <li>
                    <a href="/contact" class="sf-with-ul">Contact</a>
                  </li>
                </ul>
                <!-- End .menu -->
              </nav>
              <!-- End .main-nav -->
            </div>
            <!-- End .header-center -->

            <div class="header-right"></div>
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-bottom -->
      </header>
      <!-- End .header -->
    </div>

<script>
  const noWishlist = document.getElementById("noWishlist")

  noWishlist.addEventListener('click',function (){
    Swal.fire({
          icon: 'info',
          title: 'Login Required',
          text: 'Please Login To Add Items To Wishlist',
        });
  })
</script>

